<%- include('includes/head', { pageTitle: 'Despre noi' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <link rel="stylesheet" href="/styles/politici.css">
  <main>
    <h1>Despre noi</h1>
    <div>
      <p>Am creeat AmaryPaintingSpace cu scopul de a avea oricine acces la tablouri de arta originale, facute in propriul atelier. Tablourile sunt o viata vazuta prin ochii artistului in care se poate regasi oricine. </p>
      <p>Va punem la dispozitie posibilitatea de a contacta artistul prin telefon cu orice intrebari referitoare la tablourile acestuia.<br>
        Livrarea se face in 2-4 zile lucratoare.<br>
        In cazul in care aveti sugestii, acestea sunt binevenite pe email cu raspuns direct din partea artistului.<br>
      
      Profilul pictorului este lasat in seama privitorului, iubitorului de frumos, culoare si adevar. Tablourile expuse sunt modul artistului de a contura emotiile, de a exprima mesajul, incarcat de culoare in diferite stari si momente ale vietii. In arta nu exista limite.,,Pana nu-ti intinzi aripile, nu ai nici o idee cat de departe poti zbura”-Napoleon Bonaparte
      </p>
    </div>
  </main>
<%- include('includes/footer') %>