<%- include('includes/head', { pageTitle: 'Politica de confidentialitate' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <link rel="stylesheet" href="/styles/politici.css">
  <main>
    <h1>Politica de confidentialitate</h1>
    <div>
      <h2></h2>
      <p>Confidențialitatea vizitatorilor website-ului nostru este foarte importantă pentru noi și ne luăm angajamentul să o protejăm. Această politică explică ce vom face cu informațiile dumneavoastră personale.</p>
      <p>
        Acordarea consimțământului asupra utilizării cookie-urilor în concordanță cu termenii acestei politici atunci când vizitați website-ul nostru pentru prima dată, ne permite să utilizăm cookie-uri de fiecare dată când vizitați website-ul nostru.
      </p>
      Pot fi colectate, stocate și utilizate următoarele tipuri de informații personale:
      <p>
        <p>
          -informații precum adresa dvs. de e-mail, pe care le introduceți atunci când vă înregistrați pe website-ul nostru;<br>
-informațiile pe care le introduceți atunci când creați un profil pe website-ul nostru – de exemplu, numele dvs, numarul de telefon;
        </p>
<p>-informații care sunt generate în timp ce utilizați website-ul nostru, inclusiv despre când, cât de des și în ce circumstanțe îl utilizați; <br>
  -informații referitoare la orice achiziție efectuată, servicii utilizate sau tranzacții pe care le faceți prin intermediul website-ului nostru, care pot include numele, adresa, numărul de telefon, adresa de e-mail și detaliile cardului bancar;</p>
      </p>
      <p>
        -informații conținute în orice comunicări ne trimiteți prin e-mail sau prin intermediul website-ului nostru, inclusiv conținutul comunicărilor și metadatele acestora;<br>
      </p>
      <p>Utilizarea informațiilor dvs. personale

        Informațiile personale transmise prin intermediul website-ului nostru vor fi utilizate în scopurile specificate de această politică sau în paginile respective ale website-ului. Putem folosi informațiile dvs. personale pentru:
        
            -administrarea website-ului și a afacerii noastre;<br>
            -personalizarea website-ului nostru pentru dvs.;<br>
            -autorizarea utilizării serviciilor disponibile pe website-ul nostru;<br>
            -trimiterea de bunuri cumpărate prin intermediul website-ului nostru;<br>
            -furnizarea serviciilor achiziționate prin intermediul website-ului nostru;<br>
            -trimiterea de rapoarte, facturi și notificări de plată către dvs. și colectarea plăților de la dvs.;<br>
            -trimiterea de comunicări comerciale în vederea informării;<br>
            -trimiterea prin e-mail de notificări solicitate în mod expres<br><p>
    <h2>
      Securitatea informațiilor dvs. personale
    </h2>
<p>
  

    Vom lua măsuri de precauție tehnice și organizaționale rezonabile pentru a preveni pierderea, utilizarea necorespunzătoare sau modificarea informațiilor dvs. personale.<br>
    Vom stoca toate informațiile personale pe care le oferiți pe serverele noastre securizate (protejate prin parolă și firewall).<br>
    Toate tranzacțiile financiare electronice încheiate prin intermediul website-ului nostru vor fi protejate de tehnologia de criptare.<br>
    Ați luat la cunoștință faptul că transmiterea informațiilor pe internet este în mod obișnuit nesigură și nu putem garanta securitatea datelor trimise pe internet.<br>
    Sunteți responsabil(ă) pentru păstrarea confidențialității parolei pe care o utilizați pentru accesarea website-ului nostru; nu vă vom solicita niciodată parola (cu excepția momentului când vă conectați pe website-ul nostru).<br>

</p>    
          </div>
          <h2>
            Modificări
          </h2>
          <p>
           

Ne rezervăm dreptul de a actualiza această politică din când în când publicând o versiune nouă pe website-ul nostru. Trebuie să verificați ocazional această pagină pentru a vă asigura că înțelegeți orice modificare adusă acestei politici. Vă putem anunța despre modificările aduse acestei politici prin e-mail sau prin sistemul de mesagerie privată de pe website-ul nostru.
          </p>
  </main>
<%- include('includes/footer') %>