<%- include('includes/head', { pageTitle: 'Politica cookies' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <link rel="stylesheet" href="/styles/politici.css">
  <main>
    <h1>Politica cookies</h1>
    <h2>1. Politica de utilizare cookies </h2>
    <p>Aceasta politica se refera la cookies si paginile web operate de MaryPaintingsSpace</p>
    <h2>2. Ce este un cookie? </h2>
    <p>Un cookie este un fisier text de mici dimensiuni, format in general din identificatori, nume ale website-urilor litere si numere, caruia utilizatorul, cand navigheaza pe pagina web prin intermediul unui browser web (ex: Internet Explorer, Chrome, etc.), ii poate permite sau nu instalarea prin stocare pe computerul, terminalul mobil sau alte echipamente folosite de acesta. Fisierul cookie este “pasiv” (nu contine programe software, virusi sau spyware si nu poate accesa informatiile de pe hard disk-ul utilizatorului)</p>
    <h2>3. La ce sunt folosite cookies? </h2>
    <p>Aceste fisiere fac posibila recunoasterea terminalului utilizatorului si prezentarea catre acesta a unui continut adaptat preferintelor sale. Cookies asigura utilizatoriului o experienta placuta de navigare  pentru a oferi servicii confortabile utilizatorului, cum ar fi: preferintele in materie de confidentialitate online, cosul de cumparaturi sau publicitate relevanta. Cookies sunt utilizate in pregatirea unor statistici anonime agregate care ne ajuta sa intelegem modul in care un utilizator beneficiaza de paginile noastre web, permitandu-ne imbunatatirea structurii si continutului acestora.</p>
    <h2>4. Ce tipuri de cookies folosim? </h2>
    <p>Folosim doua tipuri de cookies:

        de sesiune - fisiere temporare ce raman in terminalul utilizatorului pana la inchiderea sesiunii de navigare sau inchiderea aplicatiei (browser-ului web)
        persistente - fisiere care raman in terminalul utilizatorului pe o perioada definita de parametrii acelui cookie sau pana sunt sterse manual de utilizator. 
    
     </p>
    <h2>5. Cum sunt folosite cookies de catre acest site?</h2>
    <p>O vizita pe acest site poate plasa urmatoarele tipuri de cookies:

        Cookie-uri de performanta a site-ului;
        Cookie-uri de analiza a vizitatorilor;
        Cookie-uri de inregistrare;
        Retinerea detaliilor de autentificare (utilizator si parola);</p>
        <h2>6. Ce date contin cookies?</h2>
    <p>In cele mai multe cazuri, cookies nu identifica in mod direct utilizatorii de Internet, ci terminalul de pe care acestia au accesat anumite pagini web. Aceste date sunt criptate intr-un mod care nu permite accesul  neautorizat al tertilor.</p>
        <h2>7. Retentia si stergerea cookies</h2>
    <p>In general, o aplicatie folosita pentru accesarea paginilor web permite salvarea cookies pe terminalul utilizatorului in mod implicit. Aceste setari pot fi modificate de catre utilizator astfel incat administrarea automata a cookies sa fie blocata de browser-ul web sau utilizatorul sa fie informat de fiecare data cand cookies sunt trimise catre terminalul sau.</p>
<%- include('includes/footer') %>