<%- include('includes/head', { pageTitle: 'Termeni si conditii' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <link rel="stylesheet" href="/styles/politici.css">
  <main>
    <h1>Termeni si conditii</h1>
    <div>Termeni si conditiile reprezintă contractul la distanţă încheiat între noi și dumneavoastră, clienții noștri. Acest contract se încheie fără prezenţa fizică simultană a Vânzătorului şi a Cumpărătorului, contract ce se încheie prin acceptarea, după atentă citire, a prezentului Document de către Cumpărător.<br><br>
      Orice persoană fizică, în vârstă de cel puţin 18 ani, cu capacitate de exerciţiu deplină sau orice persoană/entitate juridică, care îşi creează un cont în Site şi efectuează o comandă online.<br><br>
      Pentru produsele sau serviciile comercializate pe site-ul AmaryPaintingSpace.ro, prețul va fi indicat exclusiv în RON. În anumite situații, acest preț poate include sau nu T.V.A., însă vom face mențiunile necesare acolo unde este nevoie pentru a vă informa în mod corect.<br><br>
      Prețul produselor se actualizează în mod constant. Vă rugăm să vă raportați la valoarea prețului în momentul finalizării comenzii. Pentru produsele ori serviciile în care dumneavoastră puteți opta pentru diferite opțiuni, prețul afișat inițial poate suferi modificări în concordanță cu opțiunile dorite și bifate. Astfel, prețul final per serviciu ori produs va îngloba prețul de bază și prețul serviciilor extra pentru care ați optat în momentul plasării comenzii.<br><br>
      Plata produselor şi a serviciilor de pe site-ul AmaryPaintingSpace.ro se va realiza online, cu cardul bancar. Cu privire la acest aspect, menţionăm că nu sunt aplicabile taxe suplimentare pentru plata cu cardul.<br><br>
      Procesatorul de plăţi care va intermedia tranzacţiile dintre clienţi şi AmaryPaintingSpace.ro este Stripe.<br><br>
      Tranzacţiile sunt securizate la un nivel ridicat, astfel încât plata se va realiza în cele mai sigure condiţii. Stripe nu stochează datele confidenţiale de pe cardul cu care se realizează tranzacţia, ci doar transmite datele necesare criptate prin intermediul unei conexiuni sigure cu banca.<br><br>
      Prin achiziționarea produselor ori serviciilor de pe site, vă oferiți acordul în mod expres cu privire la imposibilitatea de a vă mai retrage din contract, respectiv imposibilitatea de mai obține restituirea sumelor de bani avansate către LegalOnline<br><br>
      AmaryPaintingSpace  își rezervă totuși dreptul ca în anumite situații particulare, din motive întemeiate, să ramburseze (integral sau parțial) unele sume sau costuri suportate de către dvs., dar acesta este doar un drept care se va exercita conform liberei aprecieri a echipei AmaryPaintingSpace  și fără să constituie o obligație asumată în acest sens. <br><br>
      Fiindca manipularea picturilor risca deteriorare,  ACESTEA NU POT FI RETURNABILE! In cazul in care produsul ajunge deteriorat banii se pot restitui. 
      Culorile pot fii usor diferite in functie de calitatea dispozitivlor dumneavoastra.<br><br>
      
      Ca utilizator, respectiv client, înțelegeți și sunteți de acord cu următoarele:<br>
      Este interzisă utilizarea site-ului AmaryPaintingSpace.ro în următoarele modalități sau pentru următoarele scopuri:<br>
      •	Cu încălcarea Termenilor și Condițiilor din prezentul document;<br>
      •	Cu încălcarea, în orice modalitate, a prevederilor legale aplicabile sau prin modalități care pot conduce la încălcarea, în orice modalitate, a prevederilor legale aplicabile;<br>
      •	Pentru a disemina informații false sau greșite ori pentru a propaga dezinformare, incitare la ură sau alte asemenea;<br>
      •	În orice modalitate prin care se acționează în contul și pe seama altei persoane, în special prin utilizarea de nume false, adrese de email false, numere de telefon false etc. <br>
      •	Pentru defăimarea altor persoane, pentru a aduce injurii, acuze sau afirmații jignitoare cu privire la oricare altă persoană; <br>
      •	Pentru promovarea sau ascunderea activităților cu caracter ilegal sau imoral; <br>
      •	Pentru a reproduce, în orice fel, interfața site-ului, în vederea inducerii în eroare a utilizatorilor, clienților sau potențialilor clienți pe care noi îi avem; <br>
      •	Pentru a obține acces neautorizat la datele pe care vizitatorii sau clienții noștri ni le-au furnizat în mod voluntar; <br>
      •	Pentru a introduce în sistem programe sau linii de cod malițioase; <br>
      •	Pentru a solicita informații, produse ori servicii ilegale ori pentru a solicita informații care să acopere o activitate ilegală; <br>
      •	Pentru a obține acces la diferite secțiuni sau subsecțiuni ale site-ului sau la produsele ori serviciile oferite de către noi utilizând proceduri ilegale; <br>
      •	Pentru a obține produse ori servicii în scopul revânzării (cu excepția Politicilor privind prelucrarea datelor cu caracter personal generate prin intermediul TOOL-ului). <br>

      </div>
  </main>
<%- include('includes/footer') %>