<%- include('../../shared/includes/head', { pageTitle: 'Comenzile tale' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main class="comenzi">
    <h1>Comenzile tale</h1>
    <%- include('../../shared/includes/order-list') %>
  </main>
<%- include('../../shared/includes/footer') %>