<link rel="stylesheet" href="/styles/footer.css">
    <footer>
       <div class="div1">
        <a href="/despre-noi">Despre noi</a>
        <p> Nr.tel:<a href="tel:0721369134">0721369134</a></p>
        <a  href="mailto:amarypaintingspace@gmail.com">
            amarypaintingspace@gmail.com
        </a>
        <ul>
            <a href="https://www.instagram.com/marryspaintings/?igshid=YmMyMTA2M2Y%3D"><img src="/img/instagram.png"> </a>
            <a href="https://www.tiktok.com/@amary_79?_t=8ZPGENLYngr&_r=1"><img src="/img/tiktok.png"></a>
            <a href="https://www.facebook.com/people/Frunzalbastra-P%C4%83p%C4%83dies-Art-Page/100082485463328/"><img src="/img/facebook.png"></a>
         </ul>
       </div>
       <div class= div2>
        <a href="https://anpc.ro/ce-este-sal/">ANPC</a>
        <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=RO">SOL</a> <br>
        <a href="/pol-conf">Politica de confidentialitate</a><br>
        <a href="/pol-cookies">Politica cookies</a><br>
        <a href="/termeni-si-conditii">Termeni si conditii</a><br><br>
        <a class="link-none"href="mailto:ionelcool1999@gmail.com">
            Design by Ionel Motca
        </a>
       </div>

       <div class="link-ionel">
       <a  href="mailto:ionelcool1999@gmail.com">
        Design by Ionel Motca
        </a> 
        </div>
        
    </footer>
</body>
</html>

